.navbar {
  background-color: white;
  border-bottom: 2px solid darkgray;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 250px;
  height: 75px;
}

.navar-links {
  margin: 0;
  padding: 0;
}

.navbar-links-item {
  margin: 0;
  padding: 10px;
  display: inline;
}

.item {
  font-family: inherit;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
.item:link {
  color: black;
}
.item:visited {
  color: black;
}
.item:hover {
  color: green;
}
.item:active {
  color: red;
}
